In [1]:
#GitHub URL

In [2]:
import pandas as pd

In [3]:
file_url = "https://raw.githubusercontent.com/PacktWorkshops/The-Applied-Artificial-Intelligence-Workshop/refs/heads/master/Datasets/Sales_Transactions_Dataset_Weekly.csv"

In [4]:
df = pd.read_csv(file_url)

In [5]:
df.head()

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,P1,11,12,10,8,13,12,14,21,6,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,P2,7,6,3,2,7,1,6,3,3,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,P3,7,11,8,9,10,8,7,13,12,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,P4,12,8,13,5,9,6,9,13,13,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,P5,8,5,13,11,6,7,9,14,9,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40

In [6]:
# Drop the first 55 columns
cols_55 = df.columns[:55]

In [7]:
new_df = df.drop(columns=cols_55)

In [8]:
new_df.head()

,Normalized 0,Normalized 1,Normalized 2,Normalized 3,Normalized 4,Normalized 5,Normalized 6,Normalized 7,Normalized 8,Normalized 9,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,0.44,0.50,0.39,0.28,0.56,0.50,0.61,1.00,0.17,0.61,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,0.70,0.60,0.30,0.20,0.70,0.10,0.60,0.30,0.30,0.30,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,0.36,0.73,0.45,0.55,0.64,0.45,0.36,0.91,0.82,0.27,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,0.59,0.35,0.65,0.18,0.41,0.24,0.41,0.65,0.65,0.53,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,0.33,0.13,0.67,0.53,0.20,0.27,0.40,0.73,0.40,0.40,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40

In [9]:
from sklearn.cluster import KMeans

In [10]:
# Created the k meand model with number of cluster 7 with random state 8
k_means_model = KMeans(n_clusters=8,random_state=8)

In [11]:
# Ran the fit model method on data set
k_means_model.fit(new_df)

KMeans(random_state=8)

In [12]:
centers = k_means_model.cluster_centers_

In [13]:
centers

array([[0.00000000e+00, 1.87500000e-01, 6.25000000e-02, 1.87500000e-01,
        0.00000000e+00, 0.00000000e+00, 5.00000000e-01, 6.25000000e-02,
        6.25000000e-02, 2.50000000e-01, 2.50000000e-01, 0.00000000e+00,
        0.00000000e+00, 1.25000000e-01, 1.25000000e-01, 0.00000000e+00,
        6.25000000e-02, 3.75000000e-01, 0.00000000e+00, 1.87500000e-01,
        9.37500000e-01, 1.87500000e-01, 6.25000000e-02, 1.25000000e-01,
        0.00000000e+00, 6.25000000e-02, 6.25000000e-02, 0.00000000e+00,
        2.77555756e-17, 6.25000000e-02, 1.87500000e-01, 0.00000000e+00,
        1.25000000e-01, 0.00000000e+00, 0.00000000e+00, 1.25000000e-01,
        0.00000000e+00, 4.37500000e-01, 2.50000000e-01, 1.87500000e-01,
        3.12500000e-01, 4.37500000e-01, 6.25000000e-02, 1.25000000e-01,
        0.00000000e+00, 5.00000000e-01, 3.12500000e-01, 6.25000000e-02,
        0.00000000e+00, 3.12500000e-01, 0.00000000e+00, 6.25000000e-02],
       [3.11777778e-01, 3.25111111e-01, 3.50000000e-01, 3.51444444e-01,
        3.78222222e-01, 3.83222222e-01, 3.37777778e-01, 3.66333333e-01,
        4.32888889e-01, 3.86000000e-01, 3.79444444e-01, 3.33888889e-01,
        3.96444444e-01, 4.16000000e-01, 3.76222222e-01, 4.76000000e-01,
        4.02000000e-01, 4.63444444e-01, 5.16444444e-01, 5.24111111e-01,
        4.48333333e-01, 4.85111111e-01, 5.71000000e-01, 5.36888889e-01,
        7.04666667e-01, 6.91888889e-01, 2.40888889e-01, 2.55111111e-01,
        2.19111111e-01, 2.59000000e-01, 2.28222222e-01, 2.58333333e-01,
        2.25888889e-01, 2.30000000e-01, 3.06555556e-01, 2.83555556e-01,
        2.89777778e-01, 3.24111111e-01, 2.92777778e-01, 3.29333333e-01,
        3.25777778e-01, 3.52888889e-01, 4.37444444e-01, 3.94000000e-01,
        3.53777778e-01, 3.77000000e-01, 3.85333333e-01, 4.30444444e-01,
        4.21222222e-01, 5.58444444e-01, 5.47000000e-01, 6.90888889e-01],
       [4.98854167e-01, 4.98854167e-01, 4.47083333e-01, 4.79375000e-01,
        4.82083333e-01, 5.37604167e-01, 5.07187500e-01, 5.21250000e-01,
        4.80000000e-01, 4.09895833e-01, 5.07708333e-01, 5.55416667e-01,
        5.37187500e-01, 4.45000000e-01, 5.94270833e-01, 4.78750000e-01,
        5.24895833e-01, 5.23333333e-01, 4.79583333e-01, 5.13854167e-01,
        5.33229167e-01, 5.46770833e-01, 5.69270833e-01, 5.73645833e-01,
        5.81770833e-01, 6.57395833e-01, 2.99791667e-01, 3.00520833e-01,
        3.03125000e-01, 3.40520833e-01, 3.56666667e-01, 3.66250000e-01,
        3.85937500e-01, 3.34062500e-01, 3.49062500e-01, 3.80000000e-01,
        2.98958333e-01, 4.09062500e-01, 4.36562500e-01, 3.25937500e-01,
        3.69166667e-01, 3.48125000e-01, 3.72604167e-01, 3.39479167e-01,
        3.59375000e-01, 3.82604167e-01, 3.89583333e-01, 4.26354167e-01,
        4.13854167e-01, 4.70312500e-01, 5.54687500e-01, 6.30520833e-01],
       [3.68452381e-02, 7.15476190e-02, 5.04761905e-02, 4.45833333e-02,
        5.40476190e-02, 5.50000000e-02, 4.38095238e-02, 5.64880952e-02,
        2.54761905e-02, 5.07738095e-02, 5.65476190e-02, 4.47619048e-02,
        4.89880952e-02, 7.67857143e-02, 8.08333333e-02, 7.94642857e-02,
        4.85714286e-02, 6.21428571e-02, 9.38690476e-02, 7.08928571e-02,
        4.21428571e-02, 1.07261905e-01, 1.37797619e-01, 1.08988095e-01,
        1.36726190e-01, 1.73035714e-01, 7.17261905e-02, 4.97619048e-02,
        6.10119048e-02, 3.96428571e-02, 5.22619048e-02, 8.72023810e-02,
        6.62500000e-02, 7.47023810e-02, 4.55952381e-02, 1.08035714e-01,
        6.53571429e-02, 8.00000000e-02, 6.02976190e-02, 7.25595238e-02,
        1.00714286e-01, 8.44047619e-02, 1.23928571e-01, 9.25595238e-02,
        1.22976190e-01, 9.45238095e-02, 1.48690476e-01, 7.20238095e-02,
        1.94464286e-01, 1.36071429e-01, 1.26130952e-01, 2.25119048e-01],
       [2.46000000e-01, 2.03529412e-01, 2.17176471e-01, 2.50588235e-01,
        2.37647059e-01, 2.39176471e-01, 3.14588235e-01, 3.14000000e-01,
        2.50588235e-01, 2.68235294e-01, 2.39294118e-01, 2.80588235e-01,
        2.52941176e-01, 2.78941176e-01, 3.27411765e-01, 3.15176471e-01,
        2.58823529e-01, 3.21411765e-01, 2.50000000e-01, 2.77058824e-01,
        3.02588235e-01, 2.93882353e-01, 3.27294118e-01, 4.93764706e-01,
        5.76000000e-01, 4.95882353e-01, 1.93176471e-01, 2.11411765e-01,
        2.03647059e-01, 2.61411765e-01, 2.98235294e-01, 2.17411765e-01,
        2.43882353e-01, 3.00941176e-01, 2.54352941e-01, 2.77411765e-01,
        2.52588235e-01, 2.64117647e-01, 2.79411765e-01, 2.98705882e-01,
        3.30117647e-01, 2.72705882e-01, 3.08235294e-01, 3.06117647e-01,
        3.54235294e-01, 2.75882353e-01, 3.43882353e-01, 4.02235294e-01,
        3.19058824e-01, 3.79058824e-01, 4.15411765e-01, 6.32117647e-01],
       [5.08906250e-01, 5.67656250e-01, 5.98984375e-01, 5.95156250e-01,
        6.11250000e-01, 5.79375000e-01, 6.46640625e-01, 5.90312500e-01,
        6.31640625e-01, 6.26562500e-01, 6.10000000e-01, 6.25312500e-01,
        6.02187500e-01, 6.41718750e-01, 6.06328125e-01, 6.70625000e-01,
        6.54375000e-01, 6.16796875e-01, 6.04062500e-01, 5.74531250e-01,
        5.92656250e-01, 5.64296875e-01, 5.55859375e-01, 5.15703125e-01,
        5.03906250e-01, 2.88359375e-01, 3.22812500e-01, 3.66484375e-01,
        3.82578125e-01, 3.38281250e-01, 3.83984375e-01, 3.50937500e-01,
        4.02500000e-01, 4.08203125e-01, 4.27968750e-01, 4.55156250e-01,
        4.31484375e-01, 4.22031250e-01, 4.30468750e-01, 4.14687500e-01,
        4.44062500e-01, 4.61015625e-01, 4.46796875e-01, 4.33984375e-01,
        4.58046875e-01, 4.64687500e-01, 4.61015625e-01, 4.38828125e-01,
        4.40546875e-01, 4.11562500e-01, 3.73046875e-01, 2.36875000e-01],
       [4.19069767e-01, 4.18217054e-01, 4.53798450e-01, 4.99689922e-01,
        4.50775194e-01, 4.32403101e-01, 4.34883721e-01, 4.62093023e-01,
        4.42945736e-01, 5.11705426e-01, 4.92713178e-01, 4.80155039e-01,
        4.86744186e-01, 4.18759690e-01, 4.52558140e-01, 4.48682171e-01,
        4.62480620e-01, 4.53720930e-01, 4.94806202e-01, 3.94573643e-01,
        4.17364341e-01, 4.00155039e-01, 4.10232558e-01, 4.25116279e-01,
        4.09922481e-01, 3.48294574e-01, 2.76744186e-01, 2.83410853e-01,
        3.23023256e-01, 2.77364341e-01, 2.87751938e-01, 3.49689922e-01,
        2.94573643e-01, 3.53643411e-01, 3.41627907e-01, 3.12480620e-01,
        3.91627907e-01, 3.14573643e-01, 3.40465116e-01, 3.23100775e-01,
        3.07364341e-01, 3.34496124e-01, 3.12790698e-01, 3.56899225e-01,
        3.46279070e-01, 3.71627907e-01, 3.62945736e-01, 3.26744186e-01,
        3.61782946e-01, 3.68139535e-01, 3.33410853e-01, 3.34961240e-01],
       [1.16355140e-01, 7.46728972e-02, 1.09252336e-01, 1.01121495e-01,
        1.78785047e-01, 1.25607477e-01, 1.29719626e-01, 9.33644860e-02,
        1.30186916e-01, 1.06915888e-01, 1.13831776e-01, 1.12990654e-01,
        1.68037383e-01, 1.40093458e-01, 1.79626168e-01, 6.53271028e-02,
        1.10093458e-01, 9.16822430e-02, 1.60841121e-01, 9.25233645e-02,
        1.34766355e-01, 2.07757009e-01, 1.42616822e-01, 1.40747664e-01,
        2.81962617e-01, 3.46168224e-01, 1.11308411e-01, 1.80186916e-01,
        1.79345794e-01, 1.63551402e-01, 1.71588785e-01, 2.00934579e-01,
        2.02149533e-01, 2.01682243e-01, 2.19252336e-01, 1.38130841e-01,
        2.44205607e-01, 1.78411215e-01, 2.04579439e-01, 1.88224299e-01,
        2.19813084e-01, 1.71869159e-01, 2.09439252e-01, 1.96355140e-01,
        2.50654206e-01, 3.25981308e-01, 3.44579439e-01, 2.84018692e-01,
        3.15420561e-01, 3.54299065e-01, 4.93177570e-01, 5.49252336e-01]])

In [14]:
# Get the label from our data set as k_means does from thw raw data
labels = k_means_model.labels_

In [15]:
labels

array([6, 6, 2, 6, 6, 1, 6, 6, 2, 2, 6, 2, 5, 2, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 6, 2, 5, 5, 6, 5, 5, 5, 2, 5, 5, 6, 6, 6, 6, 5, 5, 5, 6, 5,
       6, 5, 6, 5, 5, 6, 5, 5, 2, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 6, 2, 5,
       5, 6, 5, 5, 5, 5, 5, 6, 6, 5, 2, 5, 6, 6, 2, 6, 6, 6, 5, 5, 5, 5,
       5, 5, 2, 5, 5, 1, 2, 6, 5, 2, 6, 4, 5, 5, 5, 6, 6, 1, 2, 4, 6, 6,
       4, 6, 5, 5, 5, 2, 6, 6, 5, 5, 6, 6, 2, 6, 6, 6, 6, 5, 5, 5, 5, 6,
       5, 6, 5, 5, 5, 6, 5, 5, 5, 5, 5, 2, 6, 6, 5, 6, 5, 2, 6, 2, 6, 2,
       6, 6, 6, 6, 6, 2, 6, 6, 6, 2, 5, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5,
       6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 6, 5, 6, 5, 2, 1,
       2, 1, 6, 2, 2, 2, 4, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 7, 3, 7, 3,
       7, 3, 3, 7, 7, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 7, 3, 3, 7, 7,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 7, 3, 7, 3, 3, 3, 2, 1, 4, 2,
       1, 2, 2, 1, 1, 1, 4, 3, 3, 3, 3, 3, 7, 3, 3, 3, 4, 7, 3, 5, 1, 1,
       7, 4, 0, 3, 6, 4, 6, 6, 1, 2, 6, 2, 2, 2, 6, 2, 5, 6, 6, 6, 4, 6,
       5, 5, 6, 6, 6, 2, 4, 6, 5, 6, 2, 6, 6, 2, 2, 4, 6, 6, 6, 2, 6, 1,
       6, 5, 5, 6, 6, 6, 6, 4, 4, 7, 2, 1, 4, 4, 4, 7, 7, 7, 7, 3, 3, 3,
       3, 3, 1, 1, 7, 1, 4, 2, 4, 4, 1, 4, 4, 1, 1, 1, 4, 4, 4, 7, 7, 7,
       4, 7, 7, 3, 3, 3, 3, 3, 7, 3, 4, 4, 1, 6, 4, 1, 7, 4, 4, 1, 1, 1,
       1, 1, 1, 6, 2, 2, 1, 1, 2, 1, 1, 1, 4, 6, 1, 4, 2, 7, 4, 3, 3, 3,
       3, 7, 4, 7, 3, 3, 3, 3, 1, 1, 1, 1, 7, 4, 2, 4, 2, 3, 7, 4, 7, 7,
       0, 3, 3, 3, 3, 7, 3, 3, 3, 3, 3, 0, 7, 7, 3, 3, 3, 7, 3, 7, 3, 3,
       7, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 7, 4, 7, 7, 7, 4, 7, 7, 6, 2, 2,
       2, 6, 5, 1, 6, 2, 1, 4, 1, 1, 1, 6, 2, 6, 2, 2, 1, 2, 2, 2, 1, 2,
       4, 1, 6, 1, 5, 1, 2, 2, 2, 2, 5, 2, 6, 2, 2, 6, 5, 4, 6, 2, 5, 2,
       2, 2, 2, 1, 1, 2, 2, 4, 2, 5, 2, 1, 5, 5, 2, 2, 2, 6, 5, 6, 5, 5,
       6, 6, 5, 1, 6, 2, 2, 2, 6, 6, 6, 4, 2, 2, 6, 4, 6, 4, 1, 4, 4, 0,
       7, 3, 7, 3, 7, 2, 6, 6, 2, 2, 1, 4, 1, 1, 7, 1, 1, 7, 2, 1, 4, 1,
       7, 1, 7, 7, 4, 7, 7, 3, 7, 7, 7, 3, 1, 4, 4, 1, 1, 1, 1, 1, 6, 5,
       6, 5, 6, 5, 5, 5, 6, 6, 6, 5, 6, 4, 6, 2, 1, 5, 6, 5, 1, 1, 3, 1,
       6, 1, 3, 3, 3, 3, 3, 3, 7, 3, 3, 3, 3, 3, 7, 3, 3, 3, 3, 3, 7, 3,
       3, 3, 7, 3, 3, 7, 7, 3, 4, 4, 1, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1,
       7, 7, 3, 3, 3, 1, 1, 7, 3, 3, 7, 4, 7, 7, 4, 4, 4, 7, 1, 7, 7, 3,
       3, 3, 3, 3, 0, 3, 0, 3, 3, 3, 3, 3, 3, 7, 7, 7, 3, 3, 3, 7, 7, 7,
       3, 7, 4, 7, 7, 7, 7, 7, 7, 0, 4, 7, 4, 7, 7, 3, 3, 1, 4, 4, 7, 7,
       7, 3, 3, 3, 3, 4, 0, 4, 7, 3, 7, 4, 7, 7, 3, 3, 3, 3, 3, 7, 3, 3,
       3, 3, 1, 2, 1, 1, 1, 6, 7, 4, 4, 4, 1, 4, 4, 7, 7, 4, 4, 4, 1, 7,
       4, 7, 1, 1, 6, 4, 7, 7, 7, 3, 6, 4, 4, 4, 3, 4, 7, 7, 3],
      dtype=int32)

In [35]:
# Requirment of the activity and got the first 55 column now keep it 52 after removing min, max and product code
w_cols = df.columns[52:]

In [36]:
df.drop(columns=w_cols, inplace=True)

In [37]:
df.head()

,W0,W1,W2,W3,W4,W5,W6,W7,W8,W9,...,W42,W43,W44,W45,W46,W47,W48,W49,W50,W51
0,11,12,10,8,13,12,14,21,6,14,...,4,7,8,10,12,3,7,6,5,10
1,7,6,3,2,7,1,6,3,3,3,...,2,4,5,1,1,4,5,1,6,0
2,7,11,8,9,10,8,7,13,12,6,...,6,14,5,5,7,8,14,8,8,7
3,12,8,13,5,9,6,9,13,13,11,...,9,10,3,4,6,8,14,8,7,8
4,8,5,13,11,6,7,9,14,9,9,...,7,11,7,12,6,6,5,11,8,9

In [38]:
# Added the labels colum to data set
df['label'] = labels

In [39]:
df.head()

,W0,W1,W2,W3,W4,W5,W6,W7,W8,W9,...,W43,W44,W45,W46,W47,W48,W49,W50,W51,label
0,11,12,10,8,13,12,14,21,6,14,...,7,8,10,12,3,7,6,5,10,6
1,7,6,3,2,7,1,6,3,3,3,...,4,5,1,1,4,5,1,6,0,6
2,7,11,8,9,10,8,7,13,12,6,...,14,5,5,7,8,14,8,8,7,2
3,12,8,13,5,9,6,9,13,13,11,...,10,3,4,6,8,14,8,7,8,6
4,8,5,13,11,6,7,9,14,9,9,...,11,7,12,6,6,5,11,8,9,6

In [48]:
# Ran the aggegation as want by exercise and sum it
df_ag_lb = df.groupby('label').sum()

In [49]:
df_ag_lb

,W0,W1,W2,W3,W4,W5,W6,W7,W8,W9,...,W42,W43,W44,W45,W46,W47,W48,W49,W50,W51
label,,,,,,,,,,,,,,,,,,,,,
0,0,3,1,2,0,0,5,1,1,4,...,1,2,0,7,4,1,0,4,0,1
1,719,763,764,763,836,819,757,794,894,843,...,850,810,777,771,816,883,883,1055,1084,1304
2,1014,1001,941,997,978,1059,1033,1021,977,904,...,827,776,798,819,843,886,887,971,1095,1216
3,13,22,17,13,18,18,14,17,8,20,...,36,31,38,31,53,26,55,51,44,78
4,288,254,279,317,309,298,351,349,308,319,...,309,327,357,317,352,401,341,379,446,607
5,3391,3603,3719,3740,3729,3641,3864,3662,3851,3769,...,3193,3172,3198,3233,3244,3171,3163,3033,2861,2342
6,1749,1718,1840,2001,1826,1789,1801,1885,1841,1941,...,1506,1539,1567,1640,1632,1554,1567,1564,1458,1397
7,46,40,54,48,69,53,58,45,55,52,...,86,89,105,121,128,110,139,157,199,264

In [50]:
# Counted the labels and W0
df_result = df[['label','W0']].groupby('label').count()

In [51]:
df_result

        W0
label
0        8
1       90
2       96
3      168
4       85
5      128
6      129
7      107

In [52]:
# Rename the W0 as count_product
df_result= df_result.rename(columns = {'W0':'count_product'})

In [53]:
df_result

       count_product
label
0                  8
1                 90
2                 96
3                168
4                 85
5                128
6                129
7                107

In [56]:
# Get the tolal sales of each row with label
df_result['total_sales'] = df_ag_lb.sum(axis = 1)

In [57]:
df_result

       count_product  total_sales
label
0                  8           96
1                 90        43112
2                 96        48778
3                168         1414
4                 85        17390
5                128       173808
6                129        86341
7                107         4348

In [58]:
# Getting average sale by total sale with count product
df_result['yearly_average_sales']= df_result['total_sales'] / df_result['count_product']

In [59]:
df_result

       count_product  total_sales  yearly_average_sales
label
0                  8           96             12.000000
1                 90        43112            479.022222
2                 96        48778            508.104167
3                168         1414              8.416667
4                 85        17390            204.588235
5                128       173808           1357.875000
6                129        86341            669.310078
7                107         4348             40.635514

In [45]:
# Sorted, ran the ascending and saved the final output
df_result.sort_values(by='yearly_average_sales', ascending=False, inplace = True)

In [46]:
df_result

       count_product  total_sales  yearly_average_sales
label
5                128       173808           1357.875000
6                129        86341            669.310078
2                 96        48778            508.104167
1                 90        43112            479.022222
4                 85        17390            204.588235
7                107         4348             40.635514
0                  8           96             12.000000
3                168         1414              8.416667